html {
    background-color: #dceefe;
}

footer {
    color: black;
    font-family: "ColfaxAI";
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    letter-spacing: .05em;
    padding-top: 36px;
}